# sudo password

ansible_sudo_pass:

# .gitconfig vars

email:

full_name:

# API token with gist read/write permissions
github_api_token:

# Gist ID with vscode's settings
vscode_gist_id:


# pyenv

python3_version:
python2_version:

# nvm
node_version: 8.11.1

# tmux
tmux_version: 2.7

# zsh
zsh_version: 5.5
