# sudo password

ansible_sudo_pass:


# .gitconfig vars

email:

full_name:


# Dash-to-Dock

dash_icon_size: 48


# Gnome theme name

gnome_theme: Adapta-Eta


# API token with gist read/write permissions

github_api_token:


# Gist ID with vscode's settings

vscode_gist_id:


# pyenv

python3_version: 3.6.5
python2_version: 2.7.15
pyenv_globals: 3.6.5 2.7.15

# nvm

node_version: 8.11.1
nvm_version: 0.33.11


# tmux

tmux_version: '2.7'


# zsh

zsh_version: '5.5'


# psql

psql_role_perms: SUPERUSER CREATEDB CREATEROLE INHERIT LOGIN  # be careful with these
psql_role_pass:  # your user's role password
psql_postgres_pass:  # postgres' role password


# redis

redis_pass:


# java

oracle_java_version: 8


# elasticsearch

elasticsearch_version: '6.2.4'


# ag

ag_version: '2.1.0'


# gron

gron_version: '0.5.2'


# resty

resty_version: 'master'
