[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=tmux
Icon=utilities-terminal
Exec=/usr/local/bin/termite-tmux
StartupNotify=false
StartupWMClass=Termite
X-UnityGenerated=true
